/*******************/
/* HEADER */
/******************/

.navigation {
  background-color: #1c070b;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.AEENI-logo,
.ENI {
  height: 9.6rem;
  width: auto;
  margin-left: -4rem;
}

.nav-list {
  display: flex;
  gap: 4.8rem;
  list-style: none;
}

.nav-list li a:link,
.nav-list li a:visited {
  font-size: 1.6rem;
  color: #efe8e9;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s;
}

.nav-list li a:hover,
.nav-list li a:active {
  color: #ffb475;
}

/**********************/
/* HERO SECTION */
/*********************/

.section-hero {
  padding: 9.6rem 0;
  background-color: #1c070b;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 6.4rem;
  padding-bottom: 6.4rem;
}

.text-align {
  width: 52rem;
}

.headline1 {
  font-size: 5.2rem;
  margin-bottom: 4.8rem;
  line-height: 1.1;
  letter-spacing: -0.75px;
}

.text-description {
  font-size: 2rem;
  line-height: 1.8;
  margin-bottom: 3.2rem;
}

.img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.hero-btn {
  display: flex;
  gap: 3.2rem;
}

.btn {
  padding: 10px 35px;
  background-color: #cc905e;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  border: none;
}

.btn--2 {
  background-color: #1c070b;
  border: 1px solid #fff;
}

.btn--2 a:hover,
.btn--2 a:active {
  color: #868e96;
}

.btn a:link,
.btn a:visited {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
}

.btn:hover:not(.btn--2, .btn--black) {
  background-color: #b37e52;
  transform: scale(1.03);
}

/******************/
/* SECTION LOGO */
/******************/
.section-partenaires {
  padding: 9.6rem 0;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
}

.partenaires-logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center-text {
  text-align: center;
}

.heading3 {
  text-transform: uppercase;
  font-size: 2rem;
  color: #333;
  opacity: 70%;
  margin-bottom: 2rem;
}

.logos {
  width: 9.6rem;
  opacity: 70%;
}

/*********************/
/* SECTION ORGANISM */
/*******************/
.section-organism {
  padding: 9.6rem 0;
}

.box-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.4rem;
  align-items: center;
  row-gap: 9.6rem;
}

.img-box img {
  width: 100%;
  height: auto;
}

.heading2 {
  font-size: 4.4rem;
  color: #333;
  letter-spacing: -0.75px;
  margin-bottom: 4.8rem;
  line-height: 1.1;
}

.heading4 {
  font-size: 2.4rem;
  color: #333;
  line-height: 1.8;
  margin-bottom: 3.2rem;
}

.btn--black {
  background-color: #1c070b;
  transition: all 0.3s;
}

.btn--black:hover {
  transform: scale(1.05);
  background-color: #332023;
}

.btn--3 {
  background-color: #fff;
}

.btn--3 a:link,
.btn--3 a:visited {
  color: #1c070b;
  background-color: #fff;
}

.btn--3 a:hover,
.btn--3 a:active {
  color: #868e96;
}

.img-box img {
  border-radius: 5px;
}

/*********************/
/* SECTION ENTREPRISE */
/*******************/
.section-entreprise {
  padding: 9.6rem 0;
}

.color-card {
  width: 130rem;
  height: 60rem;
  position: relative;
  overflow: hidden;
}

.entreprise-card {
  display: inline-block;
  background-color: #1c070b;
  transform: translate(100%, 0%);
  position: absolute;
  width: 45rem;
  height: 50rem;
  border-radius: 10px;
  overflow: hidden;
}

.margin {
  margin-left: 3.2rem;
}

.card-2 {
  left: 56rem;
}

.card-3 {
  left: 112rem;
}

.card-4 {
  left: -56rem;
}

.card-5 {
  left: -112rem;
}

.card-6 {
  left: -168rem;
}

.card-7 {
  left: 168rem;
}

.grid--2 p {
  margin-left: 3.2rem;
}

.logos-feature {
  position: absolute;
}

.entreprise-name {
  margin-top: 3.2rem;
  margin-left: 3.2rem;
  background-color: #cc905e;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.6rem;
  margin-bottom: 3.2rem;
}

.logos-feature {
  z-index: -1;
  width: 30rem;
  height: 30rem;
  position: absolute;
  right: -100px;
  bottom: -100px;
}

.pagination-container {
  position: absolute;
  bottom: 0;
  margin-bottom: 3.2rem;
  transform: translateX(85%);
}

.pagination {
  width: 50rem;
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  position: relative;
}

.pagination-number {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  color: #1c070b;
  font-size: 2.4rem;
}

.pagination-number .active {
  background-color: #1c070b;
  width: 3.6rem;
  height: 3.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
}

.pagination-number div {
  background-color: #fff;
  width: 3.6rem;
  height: 3.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #333;
  cursor: pointer;
}

.pagination-number div:hover {
  background-color: #1c070b;
  color: #efe8e9;
}

.btnIcon {
  position: absolute;
  background-color: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #087f5b;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-btn {
  font-size: 18px;
}

.left--btn {
  left: 0;
  transform: translate(-50%, -12%);
}

.right--btn {
  right: 0;
  transform: translate(50%, -12%);
}

.btnIcon svg {
  width: 3.2rem;
  height: auto;
}
/**********************/
/* SECTION OBJECTIF */
/*********************/
.section-objectif {
  padding: 9.6rem 0;
}

.objectif-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  gap: 6.4rem;
}

.img-element {
  width: auto;
  height: 70rem;
}

.img-content {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  overflow-x: hidden;
}

.no-margin {
  margin: 0;
}

.heading5 {
  font-size: 3.6rem;
  color: #333;
  margin-bottom: 3.2rem;
  line-height: 1.1;
}

.heading6 {
  font-size: 2rem;
  line-height: 1.5;
  color: #555;
}

.margin--top {
  margin-top: 3.2rem;
}

/**********************/
/* SECTION TESTIMONIALS */
/*********************/
.section-testimonials {
  padding: 9.6rem 0;
  background-color: #1c070b;
}

.testimonial-box {
  background-color: #ffb475;
  border-radius: 10px;
  padding: 9.8rem 0;
  overflow-x: hidden;
}

.margin-bottom {
  margin-bottom: 9.6rem;
}

.testimonial-text {
  display: flex;
  gap: 6.4rem;
  margin-left: 6.4rem;
  width: 160rem;
  margin-top: 6.4rem;
}

.testimonials {
  font-size: 2rem;
  color: #333;
  margin-bottom: 2.4rem;
}

.testimonial-text-box {
  background-color: #fff;
  border-radius: 10px;
  padding: 3.2rem 6.4rem;
}

.custommer {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.profil1 {
  width: 5rem;
  height: 5rem;
}

.name {
  font-size: 1.6rem;
  color: black;
  margin-bottom: 1.2rem;
  font-weight: bold;
}

.job {
  color: #868e96;
}

.ionicon,
.facebook {
  width: 1.5rem;
  height: auto;
  fill: orange;
  stroke: orange;
  display: flex;
}

.icon {
  display: flex;
  gap: 5px;
  margin-bottom: 1.2rem;
}

/******************/
/* SECTION PROPOS */
/******************/
.section-propos {
  padding: 9.6rem 0;
  background-color: #1c070b;
}

.box-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.gallery-image {
  width: 100%;
}

.member-profil {
  display: flex;
  align-items: center;
}

.member-profil img {
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  margin-left: -10px;
  border: 2px solid #efe8e9;
  transition: all 0.3s;
}

.member-profil img:hover {
  transform: scale(1.02);
}

.box-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
}

.box-gallery img {
  width: 100%;
  height: auto;
  transition: all 0.3s;
}

.box-gallery img:hover {
  transform: scale(1.1);
}

.btn--4 {
  border: none;
  color: #ffb475;
  margin-top: 2rem;
  padding: 0;
  transform: translateY(50%);
}

.btn--4 a:link,
.btn--4 a:visited {
  color: #ffb475;
}

/************************/
/* FOOTER */
/***********************/
footer {
  padding: 9.6rem 0;
  background-color: #1c070b;
}

.footer-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: stretch;
  justify-items: center;

  gap: 4.8rem;
}

.facebook,
.google,
.instagram,
.linkedin,
.twitter,
.whatsapp {
  margin-top: 3.2rem;
  width: 2.4rem;
  height: 2.4rem;
  fill: #fff;
}

.social {
  display: flex;
  justify-content: flex-start;
  gap: 2.4rem;
  align-items: center;
}

.footer-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.footer-element p {
  font-size: 1.4rem;
  color: #555;
  padding-bottom: 2.4rem;
}
